*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color:yellowgreen;
    color: black;
    width: 100%;
    height: 100px;
    text-align: center;
}
#h1{
    padding: 30px;
}
#inp{
    margin:30px;
    width: 300px;
    height: 35px;
}
.inpt{
    text-align: center;
    background-color: azure;
}
#input{
    margin-top: 40px;
    width: 300px;
    height: 40px;
   text-align: center;
}
#plus{
    border: 2px solid black;
    padding: 10px;
    font-size: large;
}
#size{
    font-size: xx-large;
   
}
li{
    text-align: center;
    margin-top: 20px;
    font-size: larger;
    font-style:normal;
}
.li-container{
    background-color: blanchedalmond;
    height:400px;
    width: 100%;
}
.about{
    background-color: black;
    width: 100%;
    height:360px ;
    color: white;
}
.border{
    border-width: 3px;
    border-color: yellow;
    border-style: solid;
    margin: 10px;
}
::placeholder{
    text-align: center;
}
